/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.htmlbox-container .htmlbox-header-icon .htmlbox-header-icon-min {
  background-color: #03a0ce;
}
div.property-box ul.htmlbox-container div.htmlbox-header-icon {
  float: left;
  height: inherit;
  width: inherit;
  display: flex;
}
div.property-box ul.htmlbox-container div.htmlbox-header-icon .fa {
  margin-right: 10px;
}
.cw-diagram-popout-container div.property-box ul.htmlbox-container div.htmlbox-header-icon {
  white-space: pre;
}
.k-grid-content div.property-box ul.htmlbox-container .cw-property-details-right {
  width: 0px;
}
.k-grid-content div.property-box ul.htmlbox-container div.cw-property-details-left {
  width: 100%;
}
tr.k-alt div.property-box {
  background-color: #f1f1f1;
}
tr.k-alt ul.property-details .property-title {
  background-color: #f1f1f1;
}
tr.k-alt ul.property-details .property-value {
  border: 1px solid #f1f1f1;
}
.k-grid-content ul.property-details .property-title {
  padding: 0px;
}
.k-grid-content div.property-box-asso {
  margin-bottom: 0px;
}
.k-grid-content div.cw-property-details-left {
  padding: 0px 0 0px 0;
}
.k-grid-content tr:hover div.property-box {
  background-color: #cfc9c5;
}
.k-grid-content tr:hover ul.property-details .property-title {
  background-color: #cfc9c5;
}
.k-grid-content tr:hover ul.property-details .property-value {
  border: 1px solid #cfc9c5;
}
